.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  span {
    font-size: 15px;
    cursor: pointer;

    &:hover {
      color: #3766a9
    }
  }

  svg {
    cursor: pointer;
  }
}

.popupWrapper {
  position: relative;

  svg {
    cursor: pointer;
  }
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.tagImage {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin-right: 10px;
}

.createTime {
  margin-left: 28px;
  margin-right: auto;
  font-size: 15px;
}

.popupWrapper {
  position: relative;
  z-index: 20;
}

.popup {
  width: 150px;
  padding: 6px;
  position: absolute;
  bottom: -150%;
  left: -50%;
  z-index: 30;
  border-radius: 8px;
  display: flex;
  justify-content: center;

  button {
    text-transform: capitalize;
    color: #000;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: normal;
    border-radius: 6px;
    padding: 4px 10px;

    &:hover {
      background-color: #e3edfd;
    }
  }
}