.popupWrapper {
  position: relative;

  svg {
    cursor: pointer;
    width: 20px;
    height: 20px;

    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}

.popup {
  width: 125px;
  padding: 6px;
  position: absolute;
  bottom: -280%;
  left: -50%;
  z-index: 30;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 25%);

  ul {
    color: black !important;
    border-radius: 12px;

  }

  li {
    width: 100%;
    overflow: hidden;
    transition: all 0.2s linear;

  }

  button {
    width: 100%;
    overflow: hidden !important;
  }
}

.popupList {
  button {
    text-transform: capitalize;
    color: #000;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: normal;
    border-radius: 6px;

    &:hover {
      background-color: #e3edfd;
      font-weight: bold;
    }
  }
}